@font-face {
    font-family: "baloo";
    src: url("fonts/Baloo.ttf");
}
@font-face {
    font-family: "open-sans";
    src: url("fonts/OpenSans.ttf");
}
body {
    font-family: "open-sans";
}

.indent{
    margin-left: 25px;
}
p{
    font-size: 18px;
}
.gif {
    text-align: center;
}

.gif img {
    height: 500px;
    width: 800px;
}
.function-table {
    border-collapse: collapse;
    text-align: center;
}

.function-table{
    border: 1px solid black;
}

.function-table th{
    border: 1px solid black;
}

.function-table td{
    border: 1px solid black;
}
td {
    padding: 7px;
}
.title{
    text-align: center;
}


.install{
    margin-left:20px;
    margin-right: 20px;
}

.usage{
    margin-left:20px;
    margin-right: 20px;
}

.library{
    border:1px solid black;
    padding:10px;
}

.preview a img{
    height: 600px;
    width: 800px;
}

.preview{
    text-align: center;
}

ul li{
    margin-top: 11px;
}

ol li{
    font-weight: bold;
    font-size: 20px;
}
ol li{
    display: block;
}
ol {
    counter-reset: item;
}

ol li:before {
  content: counters(item, ".")". ";
  counter-increment: item;
}
.toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

code{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid black;
    padding: 3px;
}

li{
    font-size: 18px;
}

a{
    text-decoration: none;
}

.red{
    color: red;
}

pre{
    font-weight: bold;
}

body{
    overflow-x: hidden;
    background-color: bisque;
    width: 100%;
    margin: 0px;
}

#login-footer p{
    font-family: "open-sans";
    vertical-align: center;
    margin:auto;
    color: #fafafa;
    width: 100%;
}
#login-footer{
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #f2b56b;
    position:fixed;
    font-size: 17px;
    margin-top: 100px;
    height: auto;
}
#login-footer {
    background: transparent;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #202026;
    position: relative;
    font-size: 17px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "open-sans";
    font-size: 25px;
}

#login-footer a{
    color: yellow;
}
#login-footer a:visited{
    color: yellow;
}
#login-footer a:after{
    color:yellow;
}
#particles-js{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: bisque;
    background-image: url('');
    background-size: cover; 
    background-repeat: no-repeat;
  }


.siteWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: auto;
    
}




