# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on: [push, pull_request]

env:
  TEST_PYTHON_VERSION: 3.9
  TEST_OS: 'ubuntu-20.04'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2022, macOS-13]
        python-version: [3.6, 3.7, 3.8, 3.9, 3.10.0, 3.11.0, 3.12.0]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Installation
      run: |
        python -m pip install --upgrade pip
        pip install .
    - name: First test
      run: |
        art
        art test
        art test2
    - name: Test requirements installation
      run: |
        pip install --upgrade --upgrade-strategy=only-if-needed -r dev-requirements.txt
    - name: Version check
      run: |
        python otherfile/version_check.py
      if: matrix.python-version == env.TEST_PYTHON_VERSION
    - name: Font check
      run: |
        python otherfile/font_check.py
    - name: ART-Decor check
      run: |
        python otherfile/art_decor_check.py
    - name: Notebook check
      run: |
        pip install notebook>=5.2.2
        python otherfile/notebook_check.py
      if: matrix.python-version == env.TEST_PYTHON_VERSION && matrix.os == env.TEST_OS
    - name: Other tests
      run: |
        python -m vulture art/ otherfile/ setup.py art_profile.py --min-confidence 65 --exclude=__init__.py --sort-by-size
        python -m bandit -r art -s B311
        python -m pydocstyle --match='(?!test).*\.py' -v
      if: matrix.python-version == env.TEST_PYTHON_VERSION
    - name: Coverage
      run: |
        coverage run -m art test2
      if: matrix.python-version == env.TEST_PYTHON_VERSION && matrix.os == env.TEST_OS
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
          fail_ci_if_error: false
      if: matrix.python-version == env.TEST_PYTHON_VERSION && matrix.os == env.TEST_OS
    - name: Profile
      run: |
        python -m cProfile -s cumtime art_profile.py
